{
  "presets": ["react", ["env", { "modules": false }]],
  "env": {
    "test": {
      "plugins": ["istanbul"],
      "presets": ["react", ["env"]] // https://github.com/vuejs-templates/webpack/issues/528
    }
  }
}