.masthead {
  .mytext {
    color: #00F;
  }
  .bg-image {
    display: block;
    width: 256px;
    height: 256px;
    background-image: url("../img/instagram-logo.svg");
    background-size: cover;
  }
}
