<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CMSCode | Template</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <!-- Social: Facebook / Open Graph -->
    <meta property="og:title" content="Webpack React Template"/>
    <meta property="og:site_name" content="Webpack React Template"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://template.com/"/>
    <meta property="og:description" content="This is webpack React Template project."/>
    <meta property="og:locale" content="en_US"/>
    <meta property="og:image" content="background.jpg"/>
    <meta name="description" content="A simple template project.">
    <meta title="CMSCode | Template">
</head>
<body>
<div id="root"></div>
</body>
</html>